.contact-section {
  background: linear-gradient(
      to right,
      rgba(92, 156, 255, 0.9),
      rgba(76, 208, 206, 0.9)
    ),
    url("assets/img_2.jpg.webp") center/cover no-repeat;
  width: 100%;
  background-attachment: fixed;
  /* display: flex; */
  margin: auto;
  text-align: center;
  /* align-items: center;
  justify-content: center; */
  padding: 40px 20px;
}

.contact-container {
  background: #fff;
  padding: 40px 50px;
  /* border-radius: 10px; */
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  width: 43%;
  margin: auto;
  max-width: 700px;
  margin-top: 50px;
  /* border: 1px solid red; */
  height: 84vh;
}

.contact-container h2 {
  font-size: 26px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 25px;
  color: #111;
  padding: 25px 0px;
}
.contact-heading h1 {
  color: white;
  padding: 20px 0px;
  font-weight: 500;
}

.contact-form .row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.contact-form .input-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.contact-form label {
  margin-bottom: 6px;
  font-size: 15px;
  color: #222;
  text-align: left;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px 12px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: px;
  outline: none;
  transition: 0.3s ease;
  height: 50px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #3d7afe;
  box-shadow: 0 0 5px rgba(61, 122, 254, 0.3);
}

.btn {
  background: #3d7afe;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 12px 30px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  display: inline-block;
}

.btn:hover {
  background: #2f68f5;
}