
.footer {
  background-color: #fff;
  text-align: center;
  padding: 40px 20px;
  font-family: 'Poppins', sans-serif;
  color: #777;
}

.footer-social-icons {
  margin-bottom: 20px;
}

.footer-social-icons a {
  text-decoration: none;
  color: #007bff;
  font-size: 15px;
  margin: 0 10px;
  transition: color 0.3s;
}

.footer-social-icons a:hover {
  color: #0056b3;
}

.footer p {
  font-size: 14px;
  margin-top: 30px;
  color: #666;
}

.heart {
  color: red;
}