
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 100px;
  min-height: 100vh;
}

.hero-content {
  max-width: 50%;
}

.hero-content h1 {
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 50px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-content p {
  color: #777;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 12px 30px;
  background-color: #3b82f6;
  color: #fff;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 123, 255, 0.2);
  box-shadow: 5px 5px 20px rgb(57, 57, 57);
}

.hero-image img {
  width: 750px;
  height: auto;
}